.nolist{
	list-style: none;
	padding:0;
}

#roster-list a{
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}


.roster-block-left{
	padding:5px;
	border:1px solid #CCC;
	background: #FFF;
	width: 20%;
	max-width: 80px;
	box-sizing:border-box;
}

.roster-block-left img{
	width: 100%;
}

.roster-block-right{
	padding:15px 0 0 10px;
	color: #666;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	width: 80%;
	box-sizing:border-box;
}


#roster-wrap, #loginwithfb-wrap{
	display: none;
}




