<!DOCTYPE html>
<html class="no-js">
	<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<title>Spy Chat</title>
			<meta name="description" content="">
			<meta name="viewport" content="width=device-width">

			<link rel="stylesheet" href="css/bootstrap.min.css">
			<link rel="stylesheet" href="css/bootstrap-theme.min.css">
			<link rel="stylesheet" href="css/main.css">

			<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	</head>
	<body>
		<div id="fb-root"></div>

		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Spy Chat</a>
				</div>
			</div>
		</nav>

		<div class="container">
			<div id="loginwithfb-wrap">
				<h2>Login with Facebook</h2><br/>
				<a href="#" id="loginwithfb-btn" class="btn btn-primary">Login with Facebook</a>
			</div>

			<div id="roster-wrap">
				<h4>Online Users</h4>
				<ul class="nolist" id="roster-list">
				</ul>
			</div>

			<div id="videos-wrap">
				<h4>Yey Me !</h4>
				<video id="my-video" width="250" height="300" autoplay></video>

				<h4>The Other Guy</h4>
				<video id="remote-video" width="250" height="300" autoplay></video>
			</div>
		</div>


		<!-- TEMPLATES -->
		<script type="text/template" id="roster-list-item-template">
			<li>
				<a href="#" class="clearfix roster-list-item" data-id="{{id}}">
					<div class="roster-block-left pull-left"><img src="img/no-image.png"/></div>
					<div class="roster-block-right pull-left">{{first_name}} {{last_name}}</div>
				</a>
			</li>
		</script>
		<!-- TEMPLATES END -->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

		<script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/vendor/hogan-2.0.0.min.js"></script>
		<!--<script src="js/vendor/RTCMultiConnection-v1.4.js"></script>-->
		<script src="http://ajaybc-chatserver.jit.su/socket.io/socket.io.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
